/* #progress-container {
    width: 300px;
    height: 30px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 50px;
} */
#progressbar1 {
    width: 0;
    height: 100%;
    background-color: #2d3a4b;
    
}
#progressbar2 {
    width: 0;
    height: 100%;
    background-color: #2d3a4b;
  
}

.info-container {
    display: flex;
    justify-content: space-between;
}

.info-container div {
    width: 48%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ffffff;
    border-radius: 4px;
}

#info-container1 {
    margin-top: 20px;
    display: none;
}
#info-container2 {
    margin-top: 20px;
    display: none;
}

#image-info1 {
    width: 50%;
    height: auto;
}
#image-info2 {
    width: 50%;
    height: auto;
}

/* 수정 */
.progress-container{
    display: flex;
}

.one-progress-container {
    width: 50%;
    height: 30px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 50px;
}

